<div class="container" >
    <br/><br/>
    <p class="text-center h1">Stranica za registraciju</p>
    <br/>
    <h3>Registrujte se unosom sledećih podataka</h3>
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()"> <!--(ngSubmit)="onSubmit()" -->
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="email">E-mail</label> 
                <input type="text" id="email" class="form-control" formControlName="email">

                    <div *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.maxlength" class="text-danger">
                        E-mail može sadržati maksimalno 30 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.required" class="text-danger">
                        Morate uneti e-mail
                    </div>
                    <div *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.email" class="text-danger">
                        Morate uneti validan e-mail
                    </div>

            </div>

        </div>
        <div formGroupName="Passwords">
            <div class="form-group required">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="lozinka">Lozinka</label>
                <input type="password" id="lozinka" class="form-control" formControlName="lozinka">

                    <div *ngIf="service.formModel.get('Passwords.lozinka').touched && service.formModel.get('Passwords.lozinka').errors?.maxlength" class="text-danger">
                        Lozinka može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('Passwords.lozinka').touched && service.formModel.get('Passwords.lozinka').errors?.required" class="text-danger">
                        Morate uneti lozinku
                    </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                 <label for="lozinka2">Ponovite lozinku</label> 
                <input type="password" id="lozinka2" class="form-control" formControlName="lozinka2">
               
                    <div *ngIf="service.formModel.get('Passwords.lozinka2').touched && service.formModel.get('Passwords.lozinka2').errors?.maxlength" class="text-danger">
                        Lozinka može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('Passwords.lozinka2').touched && service.formModel.get('Passwords.lozinka2').errors?.passwordMismatch" class="text-danger">
                        Morate uneti istu lozinku
                    </div>
                
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                 <label for="ime">Ime</label> 
                <input type="text" id="ime" class="form-control" formControlName="ime">
            
                    <div *ngIf="service.formModel.get('ime').touched && service.formModel.get('ime').errors?.maxlength" class="text-danger">
                        Ime može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('ime').touched && service.formModel.get('ime').errors?.required" class="text-danger">
                        Morate uneti ime
                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                 <label for="prezime">Prezime</label> 
                <input type="text" id="prezime" class="form-control" formControlName="prezime">
              
                    <div *ngIf="service.formModel.get('prezime').touched && service.formModel.get('prezime').errors?.maxlength" class="text-danger">
                        Prezime može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('prezime').touched && service.formModel.get('prezime').errors?.required" class="text-danger">
                        Morate uneti prezime
                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                 <label for="grad">Grad</label> 
                <input type="text" id="grad" class="form-control" formControlName="grad">
              
                    <div *ngIf="service.formModel.get('grad').touched && service.formModel.get('grad').errors?.maxlength" class="text-danger">
                        Grad može sadrvati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('grad').touched && service.formModel.get('grad').errors?.required" class="text-danger">
                        Morate uneti grad
                    </div>
               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
               <label for="telefon">Telefon</label> 
                <input type="text" id="telefon" class="form-control" formControlName="telefon">
                
                    <div *ngIf="service.formModel.get('telefon').touched && service.formModel.get('telefon').errors?.maxlength" class="text-danger">
                        Telefon može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="service.formModel.get('telefon').touched && service.formModel.get('telefon').errors?.required" class="text-danger">
                        Morate uneti telefon
                    </div>
             
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
               <label for="uloga">Vrsta admina</label> 
               <select class="form-control" formControlName="uloga">
                    <option value="adminAvio">Administrator avio kompanije</option>
                    <option value="adminRent">Administrator rent-a-car servisa</option>
                    <option value="adminSist">Administrator sistema</option>
               </select>
                    <div *ngIf="service.formModel.get('uloga').touched && service.formModel.get('uloga').errors?.required" class="text-danger">
                        Morate odabrati ulogu
                    </div>
             
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-success" [disabled]="!service.formModel.valid" type="submit">Registrujte se</button> <!-- routerLink="/homepage-forma"--> <!--[disabled]="!courseForm.valid" -->
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Obriši</button> 
            </div>
        </div>
    </form>

</div>
