<div class="container" >
  <h1 style="background-color: #b8d9c1; border-style:double;" st>Profil avio kompanije</h1>
  <!--<form  [formGroup]="avioPocetnaForma" >''-->
    <table class="table" border='12px' bgcolor="#b8d9c1">
        <thead class="thead-light">
            <tr>
                <th class="table-active" scope="col">Naziv aviokompanije</th>
                <td *ngFor="let avion of allAvion">{{avion.nazivAvioKompanije}}</td>
            </tr>
            <tr>
                <th class="table-active" scope="col">Adresa kompanije</th>
                <td *ngFor="let avion of allAvion">{{avion.adresa}}</td>
            </tr>
            <tr>
                <th scope="col">Promotivni opis aviokompanije</th>
                <td *ngFor="let avion of allAvion">{{avion.promotivniOpis}}</td>
            </tr>
            <tr>
                <th scope="col">Destinacije na kojim posluje aviokompanija</th>
                <td *ngFor="let avion of allAvion">{{avion.destNaKojimPosluje}}</td>
            </tr>
            <tr>
                <th scope="col">Letovi aviokompanije</th>
                <td *ngFor="let avion of allAvion">{{avion.letovi}}</td>
            </tr>
            <tr>
               <th scope="col">Spisak karata sa popustom za brzu registraciju aviokompanije</th>
               <td *ngFor="let avion of allAvion">{{avion.spisakKarataSaPopustomZaBrzuRez}}</td>
            </tr>
            <tr>
               <th scope="col">Kongiguracija segmenata i mesta aviokompanije</th>
               <td *ngFor="let avion of allAvion">{{avion.konfigSegMesta}}</td>
            </tr>
            <tr>
               <th scope="col">Cenovnik aviokompanije</th>
               <td *ngFor="let avion of allAvion">{{avion.cenovnik}}</td>
            </tr>
            <tr>
               <th scope="col">Informacije o prtljagu aviokompanije</th>
               <td *ngFor="let avion of allAvion">{{avion.infoPrtljag}}</td>
            </tr>
            <tr *ngFor="let avion of allAvion">
              <th>
                <button class="btn btn-success" data-toggle="modal" data-target="#avionEdit" (click)="editAvioModal(avion)">Izmena</button>
              </th>
              <td></td> 
           </tr>
        </thead>
    </table>
 <!-- </form>-->

</div>

<div class="modal fade" id="avionEdit" tabindex="-1" role="dialog" aria-labelledby="avionEdit" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avionEdit">Izmena podataka o aviokompaniji</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tab-content">
          <form class="form">
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Naziv aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="nazivAvioKompanije" placeholder="Unesite naziv aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Adresa aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="adresa" placeholder="Unesite adresu aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Promotivni opis aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="promotivniOpis" placeholder="Unesite promotivni opis aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Destinacije na kojim posluje aviokompanija</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="destNaKojimPosluje" placeholder="Unesite destinacije na kojim posluje aviokompanija" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Letovi aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="letovi" placeholder="Unesite letove aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Spisak karata sa popustom za brzu registraciju aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="spisakKarataSaPopustomZaBrzuRez" placeholder="Unesite spisak karata sa popustom za brzu registraciju aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Kongiguracija segmenata i mesta aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="konfigSegMesta" placeholder="Unesite kongiguraciju segmenata i mesta aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cenovnik aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="cenovnik" placeholder="Unesite cenovnik aviokompanije" min="0" max="100">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Informacije o prtljagu aviokompanije</label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="infoPrtljag" placeholder="Unesite informacije o prtljagu aviokompanije" min="0" max="100">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editAvioInfo()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>