<div class="container">
  <br/>
  <p class="text-center h1" style="background-color: #b8d9c1; border-style:double">Profil administratora avio-kompanija</p>
  <br/>
  <div class=" table bg-light" border="1" *ngFor="let item of allAvion">
   <br/>
       <h3 class="text-center">Naziv: <b>{{item.nazivAvioKompanije}}</b></h3>
       <h3 class="text-center">Adresa: <b>{{item.adresa}}</b></h3>
       <h3 class="text-center">Promotivni opis: <b>{{item.promotivniOpis}}</b></h3>
       <h3 class="text-center">Destinacije na kojim posluje: <b>{{item.destNaKojimPosluje}}</b></h3>  
       <h3 class="text-center">Spisak karata sa popustom za brzu registraciju: <b>{{item.spisakKarataSaPopustomZaBrzuRez}}</b></h3>
       <h3 class="text-center">Kongiguracija segmenata i mesta: <b>{{item.konfigSegMesta}}</b></h3>
       <h3 class="text-center">Cenovnik: <b>{{item.cenovnik}}</b></h3>
       <h3 class="text-center">Informacije o prtljagu: <b>{{item.infoPrtljag}}</b></h3>  
       <h3 class="text-center">Letovi: <b>{{item.adresa}}</b></h3>     
       <br/><br/>
       <div class="btn-group">
           <br/>
           <button class="btn btn-info" data-toggle="modal" data-target="#EditAirCompany" (click)="EditAirCompany(item)">Izmeni</button>
           <br/>
           <button class="btn btn-info" data-toggle="modal" data-target="#DodajDestinacijuForm" (click)="dodajDestinacijuZaAvioKompaniju(item)">Dodajte destinaciju</button>
           <br/>
           <button class="btn btn-warning" data-toggle="modal" data-target="#CenovnikForm" (click)="pogledajCenovnik(item)">Pogledajte cenovnik</button>
           <button  class="btn btn-danger" *ngIf="item.odobreno==false" (click)="odobri(item)">Odobri</button>
           <br/>
           <button class="btn btn-info" data-toggle="modal" data-target="#BrzaRezForm" (click)="destinacijaZaOdredjenuAvioKompaniju(item)">Dodajte kartu za brzu rezervaciju</button>
     </div>
 <!--<table class="table" border='12px' bgcolor="#b8d9c1" *ngFor="let item of allAvion">--> 
  <br/><br/>
  <h3 colspan="3" class="text-center">Spisak destinacija</h3>

  <table class=" table table-secondary" border="1">
    <thead class="thead-dark">
        <th class="text-center">Destinacija</th>
        <th class="text-center">Datum i vreme sletanja</th>
        <th class="text-center">Datum i vreme poletanja</th>
        <th class="text-center">Vreme putovanja</th>
        <th class="text-center">Dužina putovanja</th>
        <th class="text-center">Broj presedanja</th>
        <th class="text-center">Lokacije presedanja</th>
        <th class="text-center">Cena karte</th>
    </thead>
    <tbody>
      <tr *ngFor="let destinac of item.destinacija">
        <td class="text-center">{{destinac.nazivDestinacije}}</td>  
        <td class="text-center">{{destinac.datumVremeSletanja}}</td> 
        <td class="text-center">{{destinac.datumVremePoletanja}}</td> 
        <td class="text-center">{{destinac.vremePutovanja}}</td> 
        <td class="text-center">{{destinac.duzinaPutovanja}}</td>  
        <td class="text-center">{{destinac.brojPresedanja}}</td>  
        <td class="text-center">{{destinac.lokacijaPresedanja}}</td>  
        <td class="text-center">{{destinac.cenaKarte}}</td> 
        <td class="btn-group-vertical">
          <button class="btn btn-success" (click)="obrisiDestinaciju(destinac)">Obriši</button>
          <button class="btn btn-success" data-toggle="modal" data-target="#IzmeniDestinacijuForm" (click)="editDestinaciju(destinac)">Izmeni</button>
        </td>
      </tr> 
    </tbody> 
  </table>
  <!--
          <td>
              <div class="btn-group-vertical">
                  <br/>
                  <button class="btn btn-success" data-toggle="modal" data-target="#EditAirCompany" (click)="EditAirCompany(item)">Izmeni</button>
                  <br/>
                  <button class="btn btn-success" data-toggle="modal" data-target="#DodajDestinacijuForm" (click)="dodajDestinacijuZaAvioKompaniju(item)">Dodaj destinaciju</button>
              </div>
          </td>
      </tr>
      </tbody>
  </table>
-->


<h3 colspan="3" class="text-center">Spisak karata za brzu rezervaciju</h3>

  <table class=" table table-secondary" border="1">
    <thead class="thead-dark">
        <th class="text-center">Destinacija</th>
        <th class="text-center">Početni datum</th>
        <th class="text-center">Krajnji datum</th>
        <th class="text-center">Početna cena</th>
        <th class="text-center">Popust</th>
        <th class="text-center">Cena sa popustom</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let rez of brzeRez">
            <td  *ngIf="rez.idRentACar == item.id" class="text-center"></td>  
            <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.pocetniDatum}}</td> 
            <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.krajnjiDatum}}</td> 
            <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.pocetnaCena}}</td> 
            <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.popust}}</td>  
            <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.novaCena}}</td>
        </tr>
      </tbody>
    </table>

  </div>

</div> 


<div class="modal fade" id="EditAirCompany" tabindex="-1" role="dialog" aria-labelledby="EditAirCompany" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naslovEditEdit">Izmena podataka o avio-kompaniji</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  class="modal-body" *ngIf="avionToEdit">
        <div class="tab-content">
          <form class="form">
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Naziv: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="nazivAvioKompanije" value="{{avionToEdit.nazivAvioKompanije}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Adresa: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="adresa"  value="{{avionToEdit.adresa}}">
              </div>
            </div>
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Promotivni opis: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="promotivniOpis"  value="{{avionToEdit.promotivniOpis}}">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Destinacije na kojim posluje aviokompanija: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="destNaKojimPosluje"  value="{{avionToEdit.destNaKojimPosluje}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Spisak karata sa popustom za brzu registraciju aviokompanije: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="spisakKarataSaPopustomZaBrzuRez"  value="{{avionToEdit.spisakKarataSaPopustomZaBrzuRez}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Kongiguracija segmenata i mesta aviokompanije: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="konfigSegMesta"  value="{{avionToEdit.konfigSegMesta}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cenovnik aviokompanije: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="cenovnik"  value="{{avionToEdit.cenovnik}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Informacije o prtljagu aviokompanij: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="infoPrtljag"  value="{{avionToEdit.infoPrtljag}}">
              </div>
            </div>


            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editAirCompanyInfo()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="DodajDestinacijuForm" tabindex="-1" role="dialog" aria-labelledby="DodajDestinacijuForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naslovEditEdit">Dodajte destinaciju</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  class="modal-body">
        <div class="tab-content">
          <form class="form">

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Naziv destinacije: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="destNaziv">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Datum i vreme sletanja: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="datVremeSl">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Datum i vreme poletanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="datVremePol">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Vreme putovanja: </label>
              <div class="col-sm-6">
                 <input type="number" class="form-control" id="vremePut" min="1900" max="2020">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Dužina putovanja: </label>
              <div class="col-sm-6">
                 <input type="number" class="form-control" id="duzinaPut" min="1" max="50">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Broj presedanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="brojPresed">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Lokacije presedanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="lokacPresed">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cena karte: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="kartaCena">
              </div>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dodajDestinacijuInfo()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="IzmeniDestinacijuForm" tabindex="-1" role="dialog" aria-labelledby="IzmeniDestinacijuForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naslovEditEdit">Dodajte destinaciju</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  class="modal-body"  *ngIf="destinacijaEdit">
        <div class="tab-content">
          <form class="form">

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Naziv destinacije: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="destNazivIzm" value="{{destinacijaEdit.nazivDestinacije}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Datum i vreme sletanja: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="datVremeSlIzm" value="{{destinacijaEdit.datumVremeSletanja}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Datum i vreme poletanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="datVremePolIzm" value="{{destinacijaEdit.datumVremePoletanja}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Vreme putovanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="vremePutIzm" min="1900" max="2020" value="{{destinacijaEdit.vremePutovanja}}">
              </div>
            </div>
            
            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Dužina putovanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="duzinaPutIzm" min="1" max="50" value="{{destinacijaEdit.duzinaPutovanja}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Broj presedanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="brojPresedIzm" min="1" max="50" value="{{destinacijaEdit.brojPresedanja}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Lokacije presedanja: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="lokacPresedIzm" value="{{destinacijaEdit.lokacijaPresedanja}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cena karte: </label>
              <div class="col-sm-6">
                 <input type="text" class="form-control" id="kartaCenaIzm" value="{{destinacijaEdit.cenaKarte}}">
              </div>
            </div>
            
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="izmeniDestinacijuInfo()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="CenovnikForm" tabindex="-1" role="dialog" aria-labelledby="CenovnikForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naslovEditEdit">Cenovnik</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  class="modal-body"  *ngIf="avionToEdit">
        <div class="tab-content">
          <form class="form">

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cena za prvi dan: </label>
              <div class="col-sm-6">
                  <input type="text" class="form-control" id="cenaPrviDanFo" value="{{avionToEdit.cenaPrviDan}}">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Cena za svaki sledeci dan: </label>
              <div class="col-sm-6">
                 <input type="number" class="form-control" id="cenaSledeciDanFo" value="{{avionToEdit.cenaSledeciDan}}">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="izmeniCenovnikInfo()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="BrzaRezForm" tabindex="-1" role="dialog" aria-labelledby="BrzaRezForm" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="naslovEditEdit">Brza rezervacija</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div  class="modal-body"  *ngIf="destinacijeZaBrzuRezervaciju">
        <div class="tab-content">
          <form class="form">

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Destinacija: </label>
              <div class="col-sm-6">
                <select id="destinacijaNazivFo" class="form-control">
                  <option *ngFor="let item of destinacijeZaBrzuRezervaciju" [value]="item.id" >{{item.nazivDestinacije}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Pocetni datum: </label>
              <div class="col-sm-6">
                 <input type="date" class="form-control" id="pocetniDatFo">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Krajnji datum: </label>
              <div class="col-sm-6">
                 <input type="date" class="form-control" id="krajnjiDatFo">
              </div>
            </div>

            <div class="form-group row">
              <label for="lat" class="col-sm-3 col-form-label">Popust u procentima: </label>
              <div class="col-sm-6">
                 <input type="number" class="form-control" id="popustFo">
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dodajBrzuRezervaciju()">Sačuvaj izmene</button>
        </div>
      </div>
    </div>
  </div>
</div>

