<hr/>
<h5 style="text-align: center;"></h5>
<table align="center" width = "45%" >
        <tr>
            <th><table border = "2" width = "440" ><tr><th bgcolor = "#b8d9c1" height = "60"  scope="col"> Prikaz i ažuriranje vašeg profila: </th></tr></table></th>
            <td height = "60"> <button class="btn btn-success"  routerLink="/profilAdminAvio/profilKorisnika">Klikni</button></td>
        </tr>
        <tr>
            <th ><table border = "2" width = "440" ><tr><th bgcolor = "#b8d9c1" height = "60" scope="col"> Prikaz i ažuriranje informacija o avio-kompanijama: </th></tr></table></th>
            <td height = "60" > <button class="btn btn-success" routerLink="/profilAdminAvio/avio" >Klikni</button></td>
        </tr>
</table>