<div class="container" >
    <h1>RENT-A-CAR</h1>

<p>U tabeli su prikazi svi rent-a-car servsi, odaberite koji Vam najviše odgovara. Srećan put!</p>

       <!--
            <div class="col-sm-6 form-group">
                <label for="naziv">Naziv servisa ili lokacija filijale</label>
                <input type="text" id="naziv" class="form-control" formControlName="naziv">
            </div>
            <div class="col-sm-6 form-group">
                <label for="vremPeriod">Vremenski period</label>
                <input type="text" id="vremPeriod" class="form-control" formControlName="vremPeriod">
            </div>
            <div class="col-sm-6 form-group">
                <button class="btn btn-success" type="button">Pretrazi</button> 
            </div>
       -->

       <div class="form-row">
        <div class="col-md-4">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Naziv servisa ili lokacija filijale" id="nazivFilter">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="material-icons"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Vremenski period" id="vremeFilter">
            </div>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-primary" style="margin-left: 30px" (click)="filterRentACar()">Filtriraj</button>
            <button type="button" class="btn btn-secondary" style="margin-left: 15px" (click)="resetFilter()">Resetuj</button>
        </div>
    </div>

 <app-rent-filtered [allRentACarServisFilter]="filteredRentACarServis"></app-rent-filtered> 

</div>