
<h2 align = "center" style="background-color: #b8d9c1; border-style:double;">Home page</h2>
<hr/>
<div class="container">
<table class="table table-borderless">
    <thead>
        <tr align = "center">
          <th class="table-light" scope="col">Lista avio-kompanija:</th>
          <th class="table-success" scope="col">    Lista rent-a-car servisa: </th>
          <th class="table-light" scope="col">Profil korisnika: </th>
          <th class="table-success" scope="col">Lista prijatelja: </th>
        </tr>
      </thead>
    <tbody>
      <tr>
        <td align="center"><button  class="btn btn-success" routerLink="/homepage-forma/avio-kompanija-pocetna">Klikni</button></td>
        <td align="center"><button class="btn btn-success" routerLink="/homepage-forma/ren-a-car">Klikni</button></td>
        <td align="center"><button class="btn btn-success" routerLink="/homepage-forma/profilKorisnika">Klikni</button></td>
        <td align="center"><button class="btn btn-success">Klikni</button></td>
      </tr>
    </tbody>
</table>
</div>