<div class="container">
  <br/>
  <p class="text-center h1">Profil rent-a-car administratora</p>
  <br/>
     <div class=" table bg-light" border="1" *ngFor="let item of allRentACarServis">
      <br/>
          <h3 class="text-center">Naziv: <b>{{item.naziv}}</b></h3>
          <h3 class="text-center">Adresa: <b>{{item.adresa}}</b></h3>
          <h3 class="text-center">Promotivni opis: <b>{{item.promotivniOpis}}</b></h3>        
          <br/><br/>
          <div class="btn-group">
              <br/>
              <button class="btn btn-info" data-toggle="modal" data-target="#EditRentaCar" (click)="editRentACar(item)">Izmeni</button>
              <br/>
              <button class="btn btn-info" data-toggle="modal" data-target="#DodajVoziloForm" (click)="dodajVoziloZaRentACar(item)">Dodaj vozilo</button>
              <br/>
              <button class="btn btn-info" data-toggle="modal" data-target="#DodajFilijaluForm" (click)="dodajFilijaluaRentACar(item)">Dodaj filijalu</button>
              <br/> 
              <button class="btn btn-warning" data-toggle="modal" data-target="#CenovnikForm" (click)="pogledajCenovnik(item)">Pogledajte cenovnik</button>
              <button  class="btn btn-danger" *ngIf="item.odobreno==false" (click)="odobri(item)">Odobri</button>
              <br/>
              <button class="btn btn-info" data-toggle="modal" data-target="#BrzaRezForm" (click)="vozilaZaOdredjeniServis(item)">Dodaj brzu rezervaciju</button>
              <!-- Prenos id-ja kao parametra putanje komponenti -->
              <button class="btn btn-success" routerLink="/profilRent/{{item.id}}/izvestaj">
                Izvestaj o postovanju
              </button>
            </div>
    
        <br/><br/>
        <h3 colspan="3" class="text-center">Spisak vozila</h3> 
        <!-- <th class="text-center">Spisak filijala</th>    
        -->
      
      <table class=" table table-secondary" border="1">
        <thead class="thead-dark">
            <th class="text-center">Naziv</th>
            <th class="text-center">Marka</th>
            <th class="text-center">Model</th>
            <th class="text-center">Godina proizvodnje</th>
            <th class="text-center">Broj sedišta</th>
            <th class="text-center">Tip vozila</th>
            <th class="text-center">Ocena</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let voz of item.vozila">
                <td class="text-center">{{voz.naziv}}</td>  
                <td class="text-center">{{voz.marka}}</td> 
                <td class="text-center">{{voz.model}}</td> 
                <td class="text-center">{{voz.godinaProizvodnje}}</td> 
                <td class="text-center">{{voz.brojSedista}}</td>  
                <td class="text-center">{{voz.tipVozila}}</td>
                <td class="text-center">{{voz.ocena}}</td>
                <td class="btn-group-vertical">
                    <button class="btn btn-success" (click)="obrisiVozilo(voz)">Obriši</button>
                    <button class="btn btn-success" data-toggle="modal" data-target="#IzmeniVoziloForm" (click)="editVozilo(voz)">Izmeni</button>
                </td>  
            </tr>
          </tbody>
        </table>

        <h3 colspan="3" class="text-center">Spisak filijala</h3>

        <table  class=" table table-secondary" border="1">
          <thead  class="thead-dark">
              <th class="text-center">Adresa</th>
              <th></th>
          </thead>   
          <tbody>
            <tr  *ngFor="let fil of listItems">
              <td *ngIf="fil.rentACarId == item.id" class="text-center">{{fil.ulica}} {{fil.broj}}, {{fil.mesto}}</td>
              <td  *ngIf="fil.rentACarId == item.id" class="btn-group-vertical">
                <button class="btn btn-success" (click)="obrisiFilijalu(fil)">Obriši</button>
                <button class="btn btn-success" data-toggle="modal" data-target="#IzmeniFilijaluForm" (click)="editFilijala(fil)">Izmeni</button>
              </td>  
            </tr>
          </tbody>  
        </table>

        <h3 colspan="3" class="text-center">Spisak brzih rezervacija</h3>

        <table class=" table table-secondary" border="1">
          <thead class="thead-dark">
              <th class="text-center">Vozilo</th>
              <th class="text-center">Pocetni datum</th>
              <th class="text-center">Krajnji datum</th>
              <th class="text-center">Pocetna cena</th>
              <th class="text-center">Popust</th>
              <th class="text-center">Cena sa popustom</th>
              <th></th>
          </thead>
          <tbody>
              <tr *ngFor="let rez of brzeRez">
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center"></td>  
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.pocetniDatum}}</td> 
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.krajnjiDatum}}</td> 
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.pocetnaCena}}</td> 
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.popust}}</td>  
                  <td  *ngIf="rez.idRentACar == item.id" class="text-center">{{rez.novaCena}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div> 

<div class="modal fade" id="EditRentaCar" tabindex="-1" role="dialog" aria-labelledby="EditRentaCar" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Izmena podataka o rent-a-car servisu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body" *ngIf="servisToEdit">
          <div class="tab-content">
            <form class="form">
              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Naziv: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="naziv" value="{{servisToEdit.naziv}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Adresa: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="adresa"  value="{{servisToEdit.adresa}}">
                </div>
              </div>
              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Promotivni opis: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="opis"  value="{{servisToEdit.promotivniOpis}}">
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editRentACarInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="DodajVoziloForm" tabindex="-1" role="dialog" aria-labelledby="DodajVoziloForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Dodajte vozilo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Naziv: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nazivVoz">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Marka: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="markaVoz">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Model: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="modelVoz">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Godina proizvodnje: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="godinaVoz" min="1900" max="2020">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Broj sedista: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="brojSedVoz" min="1" max="50">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Tip vozila: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="tipVoz">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Filijala: </label>
                <div class="col-sm-6">
                  <select id="filId" class="form-control">
                    <option *ngFor="let item of listItemsZaOdredjen" [value]="item.id" >{{item.ulica}} {{item.broj}}, {{item.mesto}}</option>
                  </select>
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dodajVoziloInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="IzmeniVoziloForm" tabindex="-1" role="dialog" aria-labelledby="IzmeniVoziloForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Dodajte vozilo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body"  *ngIf="voziloToEdit">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Naziv: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="nazivVozIz" value="{{voziloToEdit.naziv}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Marka: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="markaVozIz" value="{{voziloToEdit.marka}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Model: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="modelVozIz" value="{{voziloToEdit.model}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Godina proizvodnje: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="godinaVozIz" min="1900" max="2020" value="{{voziloToEdit.godinaProizvodnje}}">
                </div>
              </div>
              
              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Broj sedista: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="brojSedVozIz" min="1" max="50" value="{{voziloToEdit.brojSedista}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Tip vozila: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="tipVozIz" value="{{voziloToEdit.tipVozila}}">
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="izmeniVoziloInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="DodajFilijaluForm" tabindex="-1" role="dialog" aria-labelledby="DodajFilijaluForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Dodajte filijalu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Ulica: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ulicaFil">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Broj: </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="brojFil">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Mesto: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="mestoFil">
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dodajFilijaluInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="IzmeniFilijaluForm" tabindex="-1" role="dialog" aria-labelledby="IzmeniFilijaluForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Izmeni filijalu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body"  *ngIf="filijalaToEdit">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Ulica: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="ulicaFilIz" value="{{filijalaToEdit.ulica}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Broj: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="brojFilIz" value="{{filijalaToEdit.broj}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Mesto: </label>
                <div class="col-sm-6">
                   <input type="text" class="form-control" id="mestoFilIz"  value="{{filijalaToEdit.mesto}}">
                </div>
              </div>
              
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="izmeniFilijalaInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="CenovnikForm" tabindex="-1" role="dialog" aria-labelledby="CenovnikForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Cenovnik</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body"  *ngIf="servisToEdit">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Cena za prvi dan: </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="cenaPrviDanFo" value="{{servisToEdit.cenaPrviDan}}">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Cena za svaki sledeci dan: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="cenaSledeciDanFo" value="{{servisToEdit.cenaSledeciDan}}">
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="izmeniCenovnikInfo()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="BrzaRezForm" tabindex="-1" role="dialog" aria-labelledby="BrzaRezForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="naslovEditEdit">Brza rezervacija</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div  class="modal-body"  *ngIf="vozilaZaBrzuRezervaciju">
          <div class="tab-content">
            <form class="form">

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Vozilo: </label>
                <div class="col-sm-6">
                  <select id="voziloNazivFo" class="form-control">
                    <option *ngFor="let item of vozilaZaBrzuRezervaciju" [value]="item.id" >{{item.naziv}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Pocetni datum: </label>
                <div class="col-sm-6">
                   <input type="date" class="form-control" id="pocetniDatFo">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Krajnji datum: </label>
                <div class="col-sm-6">
                   <input type="date" class="form-control" id="krajnjiDatFo">
                </div>
              </div>

              <div class="form-group row">
                <label for="lat" class="col-sm-3 col-form-label">Popust u procentima: </label>
                <div class="col-sm-6">
                   <input type="number" class="form-control" id="popustFo">
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Izadji</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="dodajBrzuRezervaciju()">Sačuvaj izmene</button>
          </div>
        </div>
      </div>
    </div>
  </div>