<div class="container">
    <h1 style="background-color: #b8d9c1; border-style:double;">Profil avio-kompanije {{profil.nazivAvioKompanije}}</h1>


    <br/> <br/>

    <h3 style="background-color: #b8d9c1; border-style:double;">Spisak destinacija koja su u ponudi: </h3>

    <table class="table" bgcolor="#b8d9c1" border="1">
        <thead class="thead-dark">
             <tr>
                 <th>Destinacija</th>
                 <th>Datum i vreme sletanja</th>
                 <th>Datum i vreme poletanja</th>
                 <th>Vreme putovanja</th>
                 <th>Dužina putovanja</th>
                 <th>Broj presedanja</th>
                 <th>Lokacije presedanja</th>
                 <th>Cena karte</th>
                 <th></th>
             </tr>
         </thead>
         <tbody>
             <tr *ngFor="let item of profil.destinacija">
                 <td>{{item.nazivDestinacije}}</td>
                 <td>{{item.datumVremeSletanja}}</td>
                 <td>{{item.datumVremePoletanja}}</td>
                 <td>{{item.vremePutovanja}}</td>
                 <td>{{item.duzinaPutovanja}}</td>
                 <td>{{item.brojPresedanja}}</td>
                 <td>{{item.lokacijaPresedanja}}</td>
                 <td>{{item.cenaKarte}}</td>
                 <td><button   *ngIf="Getuloga() == '1'"  class="btn btn-success" (click)="rezervisi(item)">Rezerviši</button></td>
             </tr>
          </tbody>
    </table>
    
</div>