<div id="container" style="margin-left: 15px; margin-right: 15px; margin-top: 15px;">
    <hr/>
    <!--<form  [formGroup]="aviokompanijePocetnaComponent" >-->
        <h3 style="background-color: #b8d9c1; border-style:double;" align = "center">Pretraga aviokompanija </h3>
        <!-- Polja za unos parametara filtriranja -->
         <div class="form-row">
            <div class="col-md-4">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Naziv aviokompanije" id="airCompanyBrandFilter">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="material-icons"></i></span>
                    </div>
                    <input type="number" class="form-control" placeholder="Minimalna ocena" id="airCompanyMaxPerDayPriceFilter">
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" style="margin-left: 30px" (click)="filterAirCompanies()">Filtriraj</button>
                <button type="button" class="btn btn-secondary" style="margin-left: 15px" (click)="resetFilter()">Resetuj</button>
            </div>
        </div>
        
        <div [hidden]="filteredAirCompanies.length !== 0">
            <hr/>
            <h5 style="text-align: center;">Trenutno nema avio-kompanija koja zadovoljavaju zadate parametre.</h5>
        </div>
        <div [hidden]="filteredAirCompanies.length === 0">
            <app-aviokompanije-filtered [filteredAirCompanies]="filteredAirCompanies"></app-aviokompanije-filtered>
        </div>
   <!-- </form>-->
</div>