<div class="container" >
    <br/><br/>
    <p class="text-center h1">Stranica za dodavanje avio kompanije</p>
    <br/>
    <p class="h3">Popunite sledeće podatke</p>
    <form  [formGroup]="dodajAvioKompForma" > <!--(ngSubmit)="onSubmit()" -->
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="naziv">Naziv</label>
                <input type="text" id="naziv" class="form-control" formControlName="naziv">
                <div *ngIf="dodajAvioKompForma.controls.naziv.invalid">
                    <div *ngIf="dodajAvioKompForma.controls.naziv.errors.maxlength" class="text-danger">
                        Naziv može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="dodajAvioKompForma.controls.naziv.errors.required" class="text-danger">
                        Morate uneti naziv
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="adresa">Adresa</label>
                <input type="text" id="adresa" class="form-control" formControlName="adresa">
                <div *ngIf="dodajAvioKompForma.controls.adresa.invalid">
                    <div *ngIf="dodajAvioKompForma.controls.adresa.errors.maxlength" class="text-danger">
                        Adresa može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="dodajAvioKompForma.controls.adresa.errors.required" class="text-danger">
                        Morate uneti adresu
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-success" [disabled]="!dodajAvioKompForma.valid" type="submit">Registruj</button> <!--[disabled]="!courseForm.valid" -->
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Obriši</button> 
            </div>
        </div>
    </form>

</div>
