<div class="container" >
    <h1>Prijavite se unosom sledećih podataka</h1>
    <form  [formGroup]="prijavaForma" > <!--(ngSubmit)="onSubmit()" -->
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" class="form-control" formControlName="email">
               <!-- <div *ngIf="courseForm.controls.courseName.invalid">
                    Please enter course name
                </div>-->
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="lozinka">Lozinka</label>
                <input type="password" id="lozinka" class="form-control" formControlName="lozinka">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-success" type="submit">Prijavi se</button> <!--[disabled]="!courseForm.valid" -->
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Obrisi</button> 
            </div>
        </div>
    </form>

</div>
