<div class="container" >
    <br/><br/>
    <p class="text-center h1">Stranica za prijavljivanje</p>
    <br/>
    <h3>Prijavite se unosom sledećih podataka</h3>
    <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">

        <div class="form-group">
            <label>Username</label>
            <input class="form-control" #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" #Password="ngModel" name="Password" [(ngModel)]="formModel.Password" required>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8 offset-md-2">
              <button type="submit" class="btn btn-lg btn-block btn-primary" [disabled]="form.invalid">Prijavite se</button>
            </div>
          </div>

        <!--
        <div class="row">
            <div class="col-sm-6 form-group ">
                <label for="email">E-mail</label>
             
                <input type="text" id="email" class="form-control" formControlName="email">
                <div *ngIf="prijavaForma.controls.email.invalid">
                    <div *ngIf="prijavaForma.controls.email.errors.maxlength" class="text-danger">
                        E-mail može sadržati maksimalno 30 karaktera
                    </div>
                    <div *ngIf="prijavaForma.controls.email.errors.required" class="text-danger">
                        Morate uneti e-mail
                    </div>
                    <div *ngIf="prijavaForma.controls.email.errors.email" class="text-danger">
                        Morate uneti validan e-mail
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label for="lozinka">Lozinka</label>
               
                <input type="password" id="lozinka" class="form-control" formControlName="lozinka">
                <div *ngIf="prijavaForma.controls.lozinka.invalid">
                    <div *ngIf="prijavaForma.controls.lozinka.errors.maxlength" class="text-danger">
                        Lozinka može sadržati maksimalno 20 karaktera
                    </div>
                    <div *ngIf="prijavaForma.controls.lozinka.errors.required" class="text-danger">
                        Morate uneti lozinku
                    </div>
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="col-3">
                <button [disabled]="!prijavaForma.valid"  class="btn btn-success"   type="submit">Prijavi se</button> routerLink="/homepage-forma" [disabled]="!courseForm.valid" 
            </div>
            <div class="col-1">
                <button class="btn btn-primary" (click)="onClear()" type="button">Obriši</button> 
            </div>
        </div>
    -->
    </form>

    <div class="form-group col-md-8 offset-md-2">
        <button (click)="LoginWithGoogle()" class="btn btn-lg btn-primary btn-block">Login with Google</button>
      </div>

</div>
