<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a routerLink="" class="navbar-brand">Dobro došli na sajt ...    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/avio-kompanija-pocetna" style="margin-left :5px">Avio-kompanije</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/ren-a-car" style="margin-left :5px">Rent-a-car servisi</a>
        </li>
        <li class="nav-item" *ngIf="Getuloga == '4'">
            <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/profil" style="margin-left :5px">Profil administratora sistema</a>
        </li>
       
        <li *ngIf="Getuloga == '3'">
          <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/profilRent" >Profil rent-a-car administratora</a>
        </li>
        <li *ngIf="Getuloga == '2'">
            <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/profilAdminAvio">Profil administratora avio-kompanije</a>
        </li>

        <li *ngIf="Getuloga != '0' ">
          <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/homepage-forma">Homepage</a>
      </li>

        <li class="nav-item" *ngIf="Getuloga == '0'">
            <a class="btn btn-outline-light my-2 ml-5 my-sm-0" type="btn" routerLink="/registracija" style="margin-left :5px">Registracija</a>
        </li>
        <li class="nav-item" *ngIf="Getuloga == '0'">
            <a class="btn btn-outline-light my-2 my-sm-0" type="btn" routerLink="/prijava" style="margin-left :5px">Prijava</a>
        </li>
        <li class="nav-item" *ngIf="Getuloga != '0'" >
          <button class="btn btn-outline-light  my-2 ml-5 my-sm-0" type="btn" (click)="odjaviSe()" style="margin-left :5px">Odjavite se</button>
      </li>
      </ul>
    </div>
  </nav>